body {
    font-family:Helvetica;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    background-color:black;
}

#main {
    padding:20px;
    background-color:white;
}

h1 {
    font-size:40px;
}

h2 {
    font-size:14px;
    font-style:Italic;
    color:Grey;
}

h3 {
    font-size:30px;
}

h4 {
    font-size:14px;
    font-style:Italic;
    color:Grey;
}

p {
    font-size:16px;
    text-align:justify;
}

p.center {
    text-align:center;
}

a {
    color:Black;
}
