body {
    font-family:Georgia;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    background-image:url(../images/background.jpg);
    background-repeat:repeat;
}

#post {
    padding:10px;
    margin-top:15px;
    margin-bottom:15px;
    background-color:white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    box-shadow: 5px 5px 2px #888888;
}

img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

footer {
    padding:10px;
    margin-top:15px;
    margin-bottom:15px;
    color:white;
    background-color:black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

h1 {
    font-size:16px;
}

h2 {
    font-size:12px;
    font-style:Italic;
    color:#888888;
}

p {
    font-size:16px;
    text-align:justify;
}

p.center {
    text-align:center;
}

a {
    color:Black;
}
