body {
    text-align:center;
    font-family:Helvetica;
}

h1 {
    font-size:40px;
}

h2 {
    font-size:14px;
    font-style:Italic;
    color:Grey;
}

h3 {
    font-size:30px;
}

h4 {
    font-size:14px;
    font-style:Italic;
    color:Grey;
}

p {
    font-size:16px;
}

a {
    color:Black;
}
